<div class="content">

    <div class="header">
        <h1>Delivering the <span class="true">true</span> quality since 1984</h1>
    </div>

    <div class="mainbutton button">
        <a href="/catalogue">
            <button mat-raised-button>Check our catalogue</button>
        </a>
    </div>

    <div class="secondary">
        <div class="txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi cras fermentum odio eu.</p>
            <p>Fermentum dui faucibus in ornare quam viverra. Quisque non tellus orci ac auctor augue mauris augue neque. Tristique magna sit amet purus gravida quis blandit turpis. Ultrices dui sapien eget mi proin sed. Amet dictum sit amet justo.</p>
            <p>Suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec.</p>
            <p>Sit amet porttitor eget dolor morbi non arcu risus quis. Donec ac odio tempor orci. Ante metus dictum at tempor commodo ullamcorper a lacus. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Iaculis eu non diam phasellus vestibulum lorem sed risus ultricies. Amet cursus sit amet dictum sit amet justo donec.</p>
        </div>
        <div class="image">
            <img src="assets/images/suit.jpg" width="600" alt="saul" />
        </div>
    </div>
    
    
</div>